NEXT_PUBLIC_SALOM_API_URL=http://localhost:3000
# NEXT_PUBLIC_SALOM_OPERATOR_ID=a0000000-0000-4000-8000-000000000021
# NEXT_PUBLIC_ALLOW_LEGACY_OPERATOR_HEADER=false
# NEXT_PUBLIC_SALOM_MAP_STYLE_URL=https://tiles.basemaps.cartocdn.com/gl/voyager-gl-style/style.json
